@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Pacifico&display=swap');
body {
    background-color: lightseagreen;
}

.heading {  
    color:blueviolet; 
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.pilt {
    width: 300px;
}

.alus {
    color: red
}

.koostisosad {
    color: darkblue
}

.valmistamine {
    color: darkred
}

.lisa {
    color:darkgreen
}

.sissejuhatus {
    color:deepskyblue
}